.no-favorites{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    line-height: 150px;
}

.remove-btn{
    display: flex;
    background-color: white;
    color: black;
    border-radius: 0.5em;
    font-size: 15px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    margin-bottom: 5px;
    margin-left: 5px;
}

.img-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.favorited-img{
    display: flex;
    margin:auto;
}